.card{
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    cursor: pointer;
}

.profile--image{
    width: 50%;
    height: 50%;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 5px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transition: 1s;
}

.star--image{
    display: block;
    height: 50px;
    width: 50px;
    float: left;
    padding: 20px;
}

h1,h3{
    padding: 20px;
}