@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-gradient {
  background: linear-gradient(90deg, #4f46e5 20%, #6d28d9 50%, #9333ea 80%);
  background-size: 200% 200%;
  animation: gradient-move 8s ease infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
